@use "../../globalStyles/colors";

.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  //color: #1f2937;
}
.main {
  flex: 1; /* This allows the main to take up remaining space */
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    &.sidebar-collapsed {
      margin-left: 0px;
    }

    &.sidebar-expanded {
      margin-left: 220px;
    }
  }

  //   // Dark mode styles
  //   @media (prefers-color-scheme: dark) {
  //     background-color: colors.$dark-bg;
  //   }
}
