.toggle {
  height: 23px;
  width: 46px;
  top: 4px;
  right: 2px;
  border-radius: 15px;
  margin: 0;
  background-image: linear-gradient(rgb(94, 157, 240), rgb(161, 193, 207));
  position: relative;
  cursor: pointer;

  &.night {
    background-image: linear-gradient(rgb(98, 98, 133), rgb(126, 80, 172));
  }

  .notch {
    height: 22.5px;
    width: 22.5px;
    border-radius: 50%;
    background: rgb(238, 216, 13);
    position: absolute;
    //top: 0.05rem;
    left: 0.39px;
    box-shadow: 0 0 0px rgb(215, 196, 25);
    z-index: 1;
    transition: all 0.3s ease;

    & > .child {
      background: burlywood;
      border-radius: 50%;
      position: absolute;
      opacity: 0;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4) inset;

      &:first-child {
        left: 2px;
        top: 5px;
        height: 5px;
        width: 8px;
        transform: rotate(-45deg);
      }

      &:last-child {
        right: 2px;
        top: 5px;
        height: 5px;
        width: 8px;
        transform: rotate(45deg);
      }
    }

    &.night {
      background: whitesmoke;
      //box-shadow: 0 0 3px whitesmoke;
      transform: translate(25px, 0);

      .child {
        opacity: 0.4;
      }
    }
  }
}
