.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: auto;
}

.modalContent {
  padding: 1.5rem;
  border-radius: 8px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;

  .taskHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .taskHeader h3 {
      flex-grow: 1;
      text-align: center;
      margin: 0;
    }

    .closeButton {
      position: absolute;
      right: 0;
      top: 10%;
      left: 96%;
      transform: translateY(-50%);
      background: none;
      border: none;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
.taskHeaderBorder {
  flex-grow: 1;
  width: 100%;
}

.commentsList {
  margin-top: 5px;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .comment,
  .myComment {
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    max-width: 70%;
    border-radius: 1.5rem;
    word-wrap: break-word;
    word-break: break-word;
    background-color: #f1f1f1;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    &.myComment {
      align-self: flex-end;
      background-color: #d1f7c4;
      flex-direction: row-reverse;
    }

    .commentContainer {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      .userImage {
        width: 2.2rem;
        height: 2.3rem;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
        border: 2px solid white;
      }
    }

    .commentText {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      .userName {
        font-size: 0.8rem;
        font-weight: 500;
        color: #837c7c;
        opacity: 1.2;
        margin-bottom: 0.2rem;
      }
      .myName {
        font-size: 0.8rem;
        font-weight: 500;
        color: #837c7c;
        opacity: 1.2;
        margin-bottom: 0.2rem;
        align-self: flex-end;
        flex-direction: row-reverse;
      }

      p {
        margin: 0;
        font-size: 0.95rem;
        line-height: 1.5;
      }
    }
  }
}

.commentInput {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

  input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: #0056b3;
    }
  }
}
