@use "../../globalStyles/colors";
.timelineContainer {
  max-width: 100%;
  padding: 10px;
  margin-top: 3.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .header {
    margin-bottom: 4px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    .viewMode {
      width: 15%;
      .select {
        float: right;
        border: 1px solid colors.$blue-300;
        border-radius: 0.375rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        background-color: colors.$blue-100;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: border-color 0.2s ease, box-shadow 0.2s ease;

        &:hover {
          border-color: #888;
        }

        &:focus {
          border-color: #4a90e2;
          box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.3);
          outline: none;
        }

        // Dark mode styles
        &.dark {
          border-color: colors.$gray-500;
          background-color: colors.$gray-600;
          color: #fff;

          &:hover {
            border-color: #555;
          }

          &:focus {
            border-color: #888;
            box-shadow: 0 0 0 3px rgba(136, 136, 136, 0.3);
          }
        }
      }
    }
  }

  .timelineSection {
    overflow: hidden;
    border-radius: 0.375rem;
    background-color: colors.$blue-100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    // Dark mode styles
    &.dark {
      background-color: colors.$dark-tertiary;
      color: #fff;
    }

    .timeline {
    }
  }
}
