.teamsContainer {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  .addButton {
    margin-top: 7px;
    margin-right: 10px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
  }
  .toolbar {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0.5rem 1rem;

    button {
      font-weight: 500;
    }
  }
  .gridContainer {
    height: 90%;
    width: 100%;
  }
  // DataGrid styles
  .dataGrid {
    .MuiDataGrid-cell {
      font-size: 0.875rem;
    }
  }
}
