@use "./colors";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html.light,
body.light,
#root.light,
.app.light {
  //overflow: hidden;
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  background-color: colors.$blue-50;
}
html.dark,
body.dark,
#root.dark,
.app.dark {
  //overflow: hidden;
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  background-color: colors.$dark-bg;
}

.light {
  // .text {
  color: colors.$gray-800;
  //}
  //.background {
  background-color: colors.$blue-50; // Default light mode background
  //}
  .nav {
    background-color: colors.$blue-300;
    .menu {
      background-color: colors.$blue-300;
      &:hover {
        color: colors.$blue-primary;
      }
    }
    .searchBox {
      background-color: colors.$gray-100;
      color: colors.$gray-800;

      &::placeholder {
        color: colors.$gray-500;
      }
    }
    .settingsLink {
      color: colors.$gray-800;
      background-color: colors.$blue-300;
      &:hover {
        color: colors.$blue-primary;
      }
    }
    .dividerColor {
      background-color: colors.$gray-800;
    }
    .toggleColor {
      background-color: colors.$blue-300;
      &:hover {
        background-color: colors.$gray-200;
      }
      color: colors.$gray-800;
    }
  }
  .sidebarColor {
    .containerColor {
      color: colors.$gray-800;
      background-color: colors.$blue-50;
      .topLogoSectionColor {
        background-color: colors.$blue-200;
        .imageUrl {
          content: url("/TaskNest.png");
        }
        .closeButtonColor {
          background-color: colors.$blue-200;
          .iconColor {
            color: colors.$dark-bg;
            &:hover {
              color: #6b7280;
            }
          }
        }
      }
      .dividerColor {
        background-color: colors.$gray-200;
      }
      .sidebarLinkColor {
        color: colors.$gray-800;
        &:hover {
          background-color: colors.$blue-100;
          color: black;
        }
        &.active {
          background-color: colors.$blue-300;
          color: colors.$gray-800;
        }
      }
      .toggleButtonColor {
        color: colors.$gray-800;
        background-color: colors.$blue-50;
        &:hover {
          background-color: colors.$blue-100;
          color: black;
        }
      }
    }
  }
  .taskColumnBackground {
    background-color: colors.$blue-100;
    .taskCount {
      background-color: colors.$blue-200;
      color: colors.$blue-primary;
    }
    .taskBox {
      background-color: colors.$blue-300;
    }
    .columnActionsButton {
      background-color: colors.$blue-300;
      border-color: colors.$blue-300;
      color: colors.$gray-700;
      cursor: pointer;
      &:hover {
        background-color: colors.$blue-200;
      }
    }
    .taskTitleColor {
      color: #111827;
    }
    .taskPointsColor {
      color: #4b5563;
    }
    .taskDatesColor {
      color: #6b7280;
    }
    .taskDescription {
      color: #374151;
    }
    .taskComments {
      color: #43464b;
    }
    .taskMenuColor {
      color: #565b66;
    }
  }
  .button {
    background-color: colors.$blue-primary;
    color: white;
    border-color: colors.$blue-primary;

    &:hover {
      background-color: colors.$dark-secondary;
      border-color: colors.$dark-secondary;
    }
  }
  .projectHeader {
    background-color: colors.$blue-50;
    .projectHeaderTabs {
      border-top: 1px solid colors.$gray-200;
      border-bottom: 1px solid colors.$gray-200;
      .projectHeaderTabButton {
        color: colors.$gray-500;

        background-color: colors.$blue-50;
        &:hover {
          color: colors.$dark-secondary;
        }
        &.active {
          color: colors.$dark-secondary;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.5rem;
            left: 15px;
            height: 2px;
            width: 80%;
            background-color: colors.$dark-secondary;
          }
        }
      }
      .projectHeaderIconButton {
        color: colors.$gray-500;
        background-color: colors.$blue-50;
        &:hover {
          color: colors.$gray-700;
          cursor: pointer;
        }
      }
      .projectHeaderSearchInput {
        border: 1px solid colors.$gray-200;
        &:focus {
          border-color: colors.$blue-400;
        }
      }
      .searchIcon {
        color: colors.$gray-500;
      }
    }
  }
  .modalContainerFormInputColor {
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    &:focus {
      outline: none;
      border-color: #3b82f6;
    }
    background-color: white;
    color: colors.$gray-800;
    border-color: #2d3748;
  }
  .modalContainerFormSelectInputColor {
    border: 1px solid colors.$gray-800;
    background-color: white;
    color: colors.$gray-800;
  }
  .modalContainerFormButtonColor {
    background-color: #3b82f6;
    color: white;
    &:hover {
      background-color: #2563eb;
    }
  }
  .modalOverlayColor {
    background-color: rgba(75, 85, 99, 0.5);
  }
  .modalContentColor {
    background-color: colors.$blue-100;
  }
  .closeButtonColor {
    background-color: colors.$blue-primary;
    color: white;
    border-color: colors.$blue-primary;
    &:hover {
      background-color: #2563eb; // Blue hover
    }
  }
}

.dark {
  //.text {
  color: white;
  //}
  //.background {
  background-color: colors.$dark-bg;
  //}
  .nav {
    background-color: colors.$gray-800;
    .menu {
      background-color: colors.$gray-800;
      color: white;
      &:hover {
        //background-color: colors.$dark-bg;
        color: colors.$dark-secondary;
      }
    }
    .searchBox {
      background-color: colors.$dark-bg;
      color: white;

      &::placeholder {
        color: colors.$gray-100;
      }
    }
    .settingsLink {
      color: white;
      background-color: colors.$gray-800;
      &:hover {
        //background-color: colors.$dark-bg;
        color: colors.$dark-secondary;
      }
    }
    .dividerColor {
      background-color: colors.$gray-500;
    }
    .toggleColor {
      color: white;
      background-color: colors.$gray-800;
      &:hover {
        color: colors.$gray-800;
        background-color: colors.$gray-200;
      }
    }
  }
  .sidebarColor {
    background-color: colors.$gray-800;
    color: white;
    .containerColor {
      color: white;
      background-color: colors.$gray-800;
      .topLogoSectionColor {
        background-color: black;
        .imageUrl {
          content: url("/TaskNest_Dark.png");
        }
        .closeButtonColor {
          background-color: black;
          .iconColor {
            color: white;
            &:hover {
              color: colors.$gray-200;
            }
          }
        }
      }
      .dividerColor {
        background-color: colors.$gray-700;
      }
      .sidebarLinkColor {
        color: colors.$gray-100;
        &:hover {
          background-color: colors.$dark-tertiary;
          color: colors.$gray-100;
        }
        &.active {
          background-color: colors.$dark-secondary;
          color: colors.$gray-100;
        }
      }
      .toggleButtonColor {
        background-color: colors.$gray-800;
        color: colors.$gray-100;
        &:hover {
          background-color: colors.$dark-tertiary;
          color: colors.$gray-100;
        }
      }
    }
  }
  .taskColumnBackground {
    background-color: colors.$dark-tertiary;
    .taskCount {
      background-color: colors.$gray-500;
      color: colors.$gray-200;
    }
    .taskBox {
      background-color: colors.$gray-800;
      color: colors.$gray-200;
    }
    .columnActionsButton {
      background-color: colors.$gray-400;
      border-color: colors.$gray-400;
      color: colors.$gray-800;
      cursor: pointer;
      &:hover {
        background-color: colors.$gray-200;
      }
    }
    .taskTitleColor {
      color: #9eaac4;
    }
    .taskPointsColor {
      color: #9dafc8;
    }
    .taskDatesColor {
      color: #abbcde;
    }
    .taskDescription {
      color: #b0bac7;
    }
    .taskComments {
      color: #bfc6d4;
    }
    .taskMenuColor {
      color: #9ca5b5;
    }
  }
  .button {
    background-color: colors.$dark-secondary;
    border-color: colors.$dark-secondary;
    color: white;

    &:hover {
      background-color: colors.$blue-primary;
      border-color: colors.$blue-primary;
    }
  }
  .projectHeader {
    background-color: colors.$dark-bg;
  }
  .projectHeaderTabs {
    border-top: 1px solid colors.$gray-500;
    border-bottom: 1px solid colors.$gray-500;
    .projectHeaderTabButton {
      color: colors.$gray-400;
      background-color: colors.$dark-bg;
      &:hover {
        color: colors.$blue-400;
      }
      &.active {
        color: colors.$blue-400;
        text-decoration: underline;

        &::after {
          background-color: colors.$dark-secondary;
        }
      }
    }
    .projectHeaderIconButton {
      color: colors.$gray-400;
      background-color: colors.$dark-bg;
      &:hover {
        color: colors.$gray-200;
        cursor: pointer;
      }
    }
    .projectHeaderSearchInput {
      border: 1px solid colors.$gray-500;
      background-color: colors.$gray-700;
      color: colors.$gray-100;
      &:focus {
        border-color: colors.$gray-400;
      }
    }
    .searchIcon {
      color: colors.$gray-100;
    }
  }
  .modalContainerFormInputColor {
    border: 1px solid colors.$dark-tertiary;
    //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: colors.$gray-600;
    color: colors.$gray-100;
    &:focus {
      outline: none;
      border-color: colors.$dark-secondary;
    }
  }
  .modalContainerFormSelectInputColor {
    border: 1px solid colors.$dark-tertiary;
    background-color: colors.$gray-600;
    color: colors.$gray-100;
    &:focus {
      outline: none;
      border-color: colors.$dark-secondary;
    }
  }
  .modalContainerFormButtonColor {
    background-color: colors.$dark-secondary;
    color: white;
    &:hover {
      background-color: colors.$blue-primary;
    }
  }
  .modalOverlayColor {
    background-color: rgba(127, 129, 132, 0.5);
  }
  .modalContentColor {
    background-color: #2d3748;
  }
  .closeButtonColor {
    background-color: colors.$dark-secondary;
    color: #ffffff;
    border-color: colors.$dark-secondary;
    &:hover {
      background-color: colors.$blue-primary;
    }
  }
}
