@use "./colors";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  margin: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
}
.light {
  .text {
    color: colors.$gray-800;
  }
  .background {
    background-color: colors.$blue-200; // Default light mode background
  }
  .nav {
    background-color: white;
    .menu {
      background-color: white;
      &:hover {
        background-color: colors.$gray-200;
      }
    }
    .searchBox {
      background-color: colors.$blue-200;
      color: colors.$gray-800;

      &::placeholder {
        color: colors.$gray-500;
      }
    }
    .settingsLink {
      color: colors.$gray-800;
      background-color: white;
      &:hover {
        background-color: colors.$gray-200;
      }
    }
    .dividerColor {
      background-color: colors.$gray-800;
    }
    .toggleColor {
      background-color: white;
      &:hover {
        background-color: colors.$gray-200;
      }
      color: colors.$gray-800;
    }
  }
  .sidebarColor {
    background-color: white;
    color: colors.$gray-800;
    .containerColor {
      color: colors.$gray-800;
      background-color: white;
      .topLogoSectionColor {
        background-color: colors.$blue-200;
        .imageUrl {
          content: url("/TaskNest.png");
        }
        .closeButtonColor {
          background-color: colors.$blue-200;
          .iconColor {
            color: colors.$dark-bg;
            &:hover {
              color: #6b7280;
            }
          }
        }
      }
      .dividerColor {
        background-color: colors.$gray-200;
      }
      .sidebarLinkColor {
        color: colors.$gray-800;
        &:hover {
          background-color: colors.$gray-700;
          color: colors.$gray-100;
        }
      }
      .toggleButtonColor {
        color: colors.$gray-800;
        background-color: white;
        &:hover {
          background-color: colors.$gray-800;
          color: white;
        }
      }
    }
  }
}

.dark {
  .text {
    color: white;
  }
  .background {
    background-color: colors.$dark-bg;
  }
  .nav {
    background-color: colors.$gray-800;
    .menu {
      background-color: colors.$gray-800;
      color: white;
      &:hover {
        background-color: colors.$gray-200;
        color: colors.$gray-800;
      }
    }
    .searchBox {
      background-color: colors.$dark-bg;
      color: white;

      &::placeholder {
        color: colors.$gray-100;
      }
    }
    .settingsLink {
      color: white;
      background-color: colors.$gray-800;
      &:hover {
        background-color: colors.$gray-200;
        color: colors.$gray-800;
      }
    }
    .dividerColor {
      background-color: colors.$gray-500;
    }
    .toggleColor {
      color: white;
      background-color: colors.$gray-800;
      &:hover {
        color: colors.$gray-800;
        background-color: colors.$gray-200;
      }
    }
  }
  .sidebarColor {
    background-color: colors.$gray-800;
    color: white;
    .containerColor {
      color: white;
      background-color: colors.$gray-800;
      .topLogoSectionColor {
        background-color: black;
        .imageUrl {
          content: url("/TaskNest_Dark.png");
        }
        .closeButtonColor {
          background-color: black;
          .iconColor {
            color: white;
            &:hover {
              color: colors.$gray-200;
            }
          }
        }
      }
      .dividerColor {
        background-color: colors.$gray-700;
      }
      .sidebarLinkColor {
        color: colors.$gray-100;
        &:hover {
          color: colors.$gray-800;
          background-color: colors.$gray-100;
        }
      }
      .toggleButtonColor {
        background-color: colors.$gray-800;
        color: colors.$gray-100;
        &:hover {
          color: colors.$gray-800;
          background-color: white;
        }
      }
    }
  }
}
